html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #000;
    margin: 0px 0px 0px 0px; /* the extra 1px allows the iOS inner/outer check to work */
}

#sbc_game_content {
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
}

#sbc_orientation {
    margin: 0 auto;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../assets/orientation.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}
